<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AB_Education</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css"    />
    <link rel="stylesheet" href="~/css/" />

</head>
<body>
    <header>
        <partial name="_AdminNavPartial" />

        <partial name="_NavbarPartial" />

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div class="fixed-bottom">
        <footer id="footer" class="border-top footer text-mute">
            <div class="container">
                &copy; 2021 - AB Education - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
