@model IEnumerable<ApplicationUser>


    <h2>Users</h2>

<a asp-action="Create">Add New User</a>

<h5 class="mt-4">Administrators</h5>
@foreach (var user in ViewBag.Admins)
{
    <div>@user.DisplayName</div>
}

<h5 class="mt-4">Teachers</h5>
@foreach (var user in ViewBag.Teachers)
{
    <div>@user.DisplayName</div>
}

<h5 class="mt-4">Students</h5>
@foreach (var user in ViewBag.Students)
{
    <div>@user.DisplayName</div>
}
